* {
  box-sizing: border-box;
}
.about {
  color: #afacac;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.about__image-box {
  right: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.about__img {
  width: 100%;
  height: 100%;
  background-image: url("../img/about/about-min.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  position: relative;
}
.about__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.99));
}
.about__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}
.about__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__hello {
  text-align: center;

  margin-bottom: 50px;
  animation: slide-in 0.8s ease-in-out both;
}
.about__h2 {
  text-align: center;
  margin-bottom: 60px;
  animation: slide-up 0.8s ease-in-out both;
}
.about__deskription-box {
  display: flex;
  flex-wrap: wrap;
  animation: fade-in 0.8s ease-in-out both 0.5s;
  max-width: 980px;
  margin: 0 auto;
}
.about__deskription {
  margin: 20px;
  flex: 1 0 290px;
  line-height: 24px;

  margin-bottom: 20px;
  text-align: justify;
}
@media (max-width: 400px) {
  .about__h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .about__deskription {
    flex: 1 1 290px;
    line-height: 24px;
    width: 100%;
  }
  .about {
    font-size: 16px;
  }
  .about__deskription {
    font-size: 16px;
  }
}
@media (max-width: 630px) {
}

@media (max-width: 850px) {
  .about p {
    font-size: 16px;
  }
}
/**
   * Animations
   */
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-in {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-out {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
